--
-- PostgreSQL database dump
--

\restrict oey5GEa1P2Ktj8WO6BMzlX25YlkwEM0jeJIdasNh45UDBpwdWAJ9On30ySkukza

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: policy_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.policy_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    min_score integer NOT NULL,
    max_score integer NOT NULL,
    decision character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.policy_rules OWNER TO postgres;

--
-- Name: risk_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.risk_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    event_id uuid NOT NULL,
    user_id uuid NOT NULL,
    device_id uuid NOT NULL,
    phone_id uuid NOT NULL,
    event_type character varying(50) NOT NULL,
    risk_weight integer NOT NULL,
    metadata jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.risk_events OWNER TO postgres;

--
-- Name: risk_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.risk_snapshots (
    scope_type character varying(20) NOT NULL,
    scope_id uuid NOT NULL,
    current_score integer DEFAULT 0 NOT NULL,
    last_event_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.risk_snapshots OWNER TO postgres;

--
-- Data for Name: policy_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.policy_rules (id, min_score, max_score, decision, created_at) FROM stdin;
5d4fbeb4-fc33-4122-9b03-3382c60f9b29	0	39	ALLOW	2026-03-02 07:30:38.703124
1f67c68a-e7e7-4ed8-9d59-465564d2a126	40	79	STEP_UP	2026-03-02 07:30:38.703124
a668b1d6-4341-43d7-94b4-a718cd1ff372	80	100000	BLOCK	2026-03-02 07:30:38.703124
63cf3362-e101-4dc4-adff-d404d7f62571	0	10	ALLOW	2026-03-02 14:31:47.729171
44c1a9ed-11e0-4903-8ad9-927bee5f6056	11	20	STEP_UP	2026-03-02 14:31:47.729171
f9098e77-97b2-496f-b03f-5c3c03eda32d	21	9999	BLOCK	2026-03-02 14:31:47.729171
\.


--
-- Data for Name: risk_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: risk_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.risk_snapshots (scope_type, scope_id, current_score, last_event_at, updated_at) FROM stdin;
\.


--
-- Name: policy_rules policy_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.policy_rules
    ADD CONSTRAINT policy_rules_pkey PRIMARY KEY (id);


--
-- Name: risk_events risk_events_event_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.risk_events
    ADD CONSTRAINT risk_events_event_id_key UNIQUE (event_id);


--
-- Name: risk_events risk_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.risk_events
    ADD CONSTRAINT risk_events_pkey PRIMARY KEY (id);


--
-- Name: risk_snapshots risk_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.risk_snapshots
    ADD CONSTRAINT risk_snapshots_pkey PRIMARY KEY (scope_type, scope_id);


--
-- PostgreSQL database dump complete
--

\unrestrict oey5GEa1P2Ktj8WO6BMzlX25YlkwEM0jeJIdasNh45UDBpwdWAJ9On30ySkukza

