--
-- PostgreSQL database dump
--

\restrict MzDabYwJeEDq5dmzUXkFT8Upn4ZiKZbH19fo9v9QFmouvqicPmk437Gphc6vkOc

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    device_id uuid,
    event_type character varying(100) NOT NULL,
    metadata jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: device_phone_bindings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_phone_bindings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    device_id uuid NOT NULL,
    phone_id uuid NOT NULL,
    sim_hash character varying(255),
    bound_at timestamp without time zone DEFAULT now(),
    unbound_at timestamp without time zone,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL
);


ALTER TABLE public.device_phone_bindings OWNER TO postgres;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    device_id character varying(255) NOT NULL,
    public_key text NOT NULL,
    android_id character varying(255),
    device_model text,
    attestation_verified boolean DEFAULT false,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    sim_hash character varying(255),
    current_sim_hash character varying(255)
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: phone_numbers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phone_numbers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    e164_format character varying(20) NOT NULL,
    is_primary boolean DEFAULT false,
    is_verified boolean DEFAULT false,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.phone_numbers OWNER TO postgres;

--
-- Name: sim_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sim_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    device_id uuid,
    phone_number character varying(20) NOT NULL,
    imsi_hash character varying(255),
    iccid_hash character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sim_history OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    national_id character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_log (id, user_id, device_id, event_type, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: device_phone_bindings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_phone_bindings (id, device_id, phone_id, sim_hash, bound_at, unbound_at, status) FROM stdin;
599cafac-7680-4e37-84c7-149be89ff083	ed6c8b35-a040-46ed-b95f-2df540ef0b7e	a8e82f5a-1db2-452c-b77c-a9956a549642	\N	2026-03-02 07:17:17.866954	\N	ACTIVE
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devices (id, user_id, device_id, public_key, android_id, device_model, attestation_verified, status, created_at, sim_hash, current_sim_hash) FROM stdin;
ed6c8b35-a040-46ed-b95f-2df540ef0b7e	76b0281d-3dd1-4a0f-99d3-df21b99dabe1	device-002	BASE64_PUBLIC_KEY_SAMPLE	ANDROID_ID_SAMPLE	\N	f	ACTIVE	2026-03-01 14:31:10.826678	SIM_HASH_SAMPLE	\N
8bcb4cd1-c72e-428d-b44a-d6fe46a8d3a7	111eac5a-8345-4e77-a159-87407bfa96e4	device-999	abc123	\N	\N	f	ACTIVE	2026-03-02 13:57:50.684164	sim-test-001	\N
\.


--
-- Data for Name: phone_numbers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.phone_numbers (id, user_id, e164_format, is_primary, is_verified, status, created_at, updated_at) FROM stdin;
a8e82f5a-1db2-452c-b77c-a9956a549642	76b0281d-3dd1-4a0f-99d3-df21b99dabe1	TEMP_device-002	t	t	ACTIVE	2026-03-02 07:14:34.364961	2026-03-02 07:14:34.364961
\.


--
-- Data for Name: sim_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sim_history (id, device_id, phone_number, imsi_hash, iccid_hash, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, full_name, email, national_id, status, created_at, updated_at) FROM stdin;
ccdd55fc-59e9-4de0-910a-2b3f49789132	Doron Svirsky	doron@test.com	123456789	ACTIVE	2026-03-01 08:14:11.782049	2026-03-01 08:14:11.782049
76b0281d-3dd1-4a0f-99d3-df21b99dabe1	Doron Svirsky	doron2@test.com	987654321	ACTIVE	2026-03-01 08:54:15.146498	2026-03-01 08:54:15.146498
111eac5a-8345-4e77-a159-87407bfa96e4	Doron Test 9	doron9@test.com	111222333	ACTIVE	2026-03-02 13:55:25.105724	2026-03-02 13:55:25.105724
\.


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: device_phone_bindings device_phone_bindings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_phone_bindings
    ADD CONSTRAINT device_phone_bindings_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: phone_numbers phone_numbers_e164_format_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_numbers
    ADD CONSTRAINT phone_numbers_e164_format_key UNIQUE (e164_format);


--
-- Name: phone_numbers phone_numbers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_numbers
    ADD CONSTRAINT phone_numbers_pkey PRIMARY KEY (id);


--
-- Name: sim_history sim_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sim_history
    ADD CONSTRAINT sim_history_pkey PRIMARY KEY (id);


--
-- Name: device_phone_bindings unique_active_binding; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_phone_bindings
    ADD CONSTRAINT unique_active_binding UNIQUE (device_id, phone_id, status);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_device_id ON public.audit_log USING btree (device_id);


--
-- Name: idx_audit_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_event_type ON public.audit_log USING btree (event_type);


--
-- Name: idx_audit_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_user_id ON public.audit_log USING btree (user_id);


--
-- Name: idx_devices_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_devices_device_id ON public.devices USING btree (device_id);


--
-- Name: idx_devices_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_user_id ON public.devices USING btree (user_id);


--
-- Name: idx_sim_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sim_device_id ON public.sim_history USING btree (device_id);


--
-- Name: idx_sim_phone_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sim_phone_number ON public.sim_history USING btree (phone_number);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_national_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_users_national_id ON public.users USING btree (national_id);


--
-- Name: audit_log audit_log_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: device_phone_bindings device_phone_bindings_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_phone_bindings
    ADD CONSTRAINT device_phone_bindings_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_phone_bindings device_phone_bindings_phone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_phone_bindings
    ADD CONSTRAINT device_phone_bindings_phone_id_fkey FOREIGN KEY (phone_id) REFERENCES public.phone_numbers(id) ON DELETE CASCADE;


--
-- Name: devices devices_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: phone_numbers phone_numbers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_numbers
    ADD CONSTRAINT phone_numbers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sim_history sim_history_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sim_history
    ADD CONSTRAINT sim_history_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict MzDabYwJeEDq5dmzUXkFT8Upn4ZiKZbH19fo9v9QFmouvqicPmk437Gphc6vkOc

